#services_main {
    width: 1000px;
    margin: auto;
    background: #DCE0E6;
    padding: 5px;
    border-radius: 5px;
}

#contact_callus {
    width: 477.5px;
    padding: 10px;
    float: left;
}


