html, body {
	margin:0;
	padding:0;
	font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, p, ul, li {
	margin:0;
	padding:0;
}

#top {
	width:100%;
	float:left;
}
#topcontainer {
	width:1000px;
	margin:auto;
}
.navcontainer {
	width:300px;
	height:50px;
	margin-top:50px;
	margin-left:25px;
	margin-right:25px;
	float:left;
	background:#004f96;
	border-radius:5px;
}
.navcontainer ul {
	list-style-type:none;
    text-align: center;
    padding: 16px;
    border-radius: 5px;
}
.navcontainer ul li {
	display:inline;
    padding: 0px 30px;
}
.navcontainer ul li a {
    text-decoration: none;
    color: white;
}
.navcontainer ul li a:hover {
    color: #00CCFF;
}
#taclogo {
	width:290px;
	height:140px;
	float:left;
	padding:5px;
}

#mid {
	width:100%;
	float:left;
	margin-top:10px;
}
#mad {
	width:100%;
	float:left;
}
#madcont{
	width:1000px;
	margin:auto;
    padding: 5px;
	border-radius:5px;
	background:#004f96;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
  }


#mbd {
    width:100%;
	float:left;
	margin-top:5px;
}

#mbdcontainer {
    width: 1000px;
    margin: auto;
}

#mbdcontainerleft {
    width: 497px;
    float: left;
    padding: 10px;
    border:2px solid #004f96;
    border-radius: 5px;
}

#mbd h3, p {
    padding: 5px;
}
#mbdcontainerleft p, li {
    font-size: 16px;
}
#mbdcontainerright {
    text-align: center;
}
#mbd {
    font-size: 18px;
}
#mbd ul {
    padding-left: 20px;
}
#mbd li {
    padding: 2px;
}
#mbd ul > li > ul {
    list-style-type: square;
}

#mbdcontainerright {
    width: 497px;
    float: left;
    margin-left: 6px;
}

.mbdcontainerrightcont {
    width: 497px;
    float: left;
    padding: 10px;
    border:2px solid #004f96;
    border-radius: 5px;
}

iframe {
    display: block;
    margin: auto;
}

#bot {
    width: 100%;
    float: left;
    margin-top: 5px;
    background: #053479;
    text-align: center;
    color: white;
}
#bot p {
    padding: 15px;
}

#botleft {
    width: 300px;
    height: 50px;
    float: left;
}

#botmid {
    width: 400px;
    height: 50px;
    float: left;
}

#botright {
    width: 300px;
    height: 50px;
    float: left;
}

#botcontainer {
    width: 1000px;
    margin: auto;
}
