.midservices {
    padding: 10px;
    background: #f1f3f4;
    border-radius: 10px;
    margin-top: 5px;
}

.midservices1 {
    padding: 10px;
    background: #f1f3f4;
    border-radius: 10px;
}

#midservices > ul {
    padding: 0;
}

h2, h3, h4, p, li, ul {
    margin: 0;
}

li, h4, h3, p{
    font-size: 16px;
}

ul > li > ul > li {
    list-style: none;
}

ul > li > ul > li > ul >li {
    list-style-type: disc;
}

h2, h3, h4, li, p{
    padding: 5px 0px;
}

ul p, h4{
    font-weight: bold;
}

#midservices > p {
    padding-top: 10px;
}

#botcontainer p{
	margin:10px;
}